.o-carousel {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.carousel__next--button,
.carousel__prev--button {
  z-index: 100;
  width: 10%;
  height: 100%;
  display: inline-flex;
  background-image: url('../../assets/arrow.png');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center center;
  // cursor: pointer;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    background-size: 40%;
  }
}

.carousel__next--button {
  transform: scaleX(-1);
}

.carousel__image {
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  // opacity: 1;
  background-position: center;
  background-size: cover;
  transition: opacity 1s ease-in;

  &.hide {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
}
